html {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #58d1fa;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  background-color: #58d1fa;
  color: black;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  display: inline-block;
  margin-right: 10px;
}