body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #2b151f;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2b151f;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #5b2d42;
}

nav li a.active,
nav li a:active {
  background-color: #2b151f;
  color: #2b151f;
}

section {
  padding: 40px 0;
}

h2 {
  text-shadow: 2px 2px 5px black;
  color: #999999;
  text-align: center;
}

p {
  text-shadow: 2px 2px 5px black;
  color: #ffffff;
  text-align: center;
}

footer {
  background-color: #2b151f;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.welcomebox {
  text-align: center;
}

.gallerypics {
  text-align: center;
}

.portrait {
  text-align: center;
}

.slideshow-container {
  position: relative;
  width: 800px;
  height: 400px;
}

input[type="radio"] {
  display: none;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#slide1:checked~.slides .slide:nth-child(1),
#slide2:checked~.slides .slide:nth-child(2),
#slide3:checked~.slides .slide:nth-child(3) {
  opacity: 1;
  z-index: 1;
}

.slide label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container {
  text-align: center;
}

h2 {
  color: #7299ba;
}

h1 {
  color: #7299ba;
}